# Bundler cache
.bundle
vendor


# Jekyll cache
.jekyll-cache
.jekyll-metadata


# RubyGems
*.gem

# NPM dependencies
node_modules
package-lock.json

# IDE configurations
.idea
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
!.vscode/tasks.json

# Misc
assets/js/dist

# gitigore
_posts/Carbang/ktnet_stamp_auto_output.php
_posts/Carbang/get_remaining_rate.sql
_posts/Carbang/biztalkProcess.txt